$container_width: 1376px;

:root {
  --font-family: "NeueMontreal", sans-serif;
  --second-family: "HelveticaNowDisplay";
  --accent-color: #0060fe;
  --light-color: #f1f6ff;
  --accent-text: #285cae;
}
