.about {
  padding: 112px 0;

  @media screen and (max-width: 1155px) {
    padding: 48px 0;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 78px;
    line-height: 103%;
    letter-spacing: -0.02em;
    margin-bottom: 48px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    transform: translateY(50px);
  }
}
